<div class=main-container>

   <div class=logo>
    <h1>Flower</h1>
    <h1>vase</h1>
   </div>
   <div class=circle>
   
   <%= image_tag 'child.jpg'  ,class: "img-index"%>
     
   </div>
   <div class=posts>
    <h3><span>newest post</span></h3>
    <%= link_to "新規投稿へ", new_flower_path %>
       <div class=flower>
        <div class=text1>
        <div class="flowers-container">
        <% @flowers.each do |t| %>
      
  
    
          <%= image_tag t.image_url, size: "250x200" if t.image? %>
    
        <%= t.shop %>
      
        <%= t.prefecture %>
        <%= t.station %>
        <%= t.comment %>
        <%= link_to "詳細へ", flower_path(t.id) %> 
        <%= link_to "編集する", edit_flower_path(t.id) %>
        <%= button_to "削除する", flower_path(t.id), method: :delete %>
       
        <% end %>
        </div>
      </div>
     <%= link_to "トップ画面に戻る", flowers_top_path %>
    </div>
  </div>